<!-- GET /artists -->

<html>
  <head></head>
  <body>
    <h1>All Artists</h1>
    <% @artists.each do |artist| %>
      <div>
        Name: <%= artist.name %>
        Genre: <%= artist.genre %> |
        <a href="/artists/<%= artist.id%>"> View more info </a>
      </div>      
    <% end %>
  </body>
</html>